name: Update README Tree on PR

on:
  pull_request:

permissions:
  contents: write
  pull-requests: write

jobs:
  readme-tree:
    uses: Coalfire-CF/Actions/.github/workflows/org-tree-readme.yml@v0.2.2
    with:
      commit_message: "chore: update README tree"
      exclude_pattern: ".git|node_modules|.github|dist|build"
      working_directory: "."
