name: Markdown Lint

permissions:
  contents: write
  pull-requests: write

on:
  pull_request:
    paths:
      - "**.md"
    branches:
      - "**"
  workflow_call:

jobs:
  check-markdown:
    uses: Coalfire-CF/Actions/.github/workflows/org-markdown-lint.yml@v0.2.4
