name: Org Release

permissions:
  contents: write
  pull-requests: write
  issues: write
  actions: read

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  create-release:
    uses: Coalfire-CF/Actions/.github/workflows/org-release.yml@v0.3.1
    secrets: inherit
